// css
- if( css ){
-   for( i = 0; css[ i ]; i++ ){
        link( href="#{css[ i ]}", type="test/css", rel="stylesheet" )
-   }
- }

// common js
script( src="/core/underscore.js" )
script( src="/core/zepto.js" )
script( src="/core/zepto_drag.js" )
script( src="/core/zepto_tap.js" )
script( src="/core/zepto_transform.js" )
script( src="/core/backbone.js" )
script( src="config.js" )
script( src="/mods/errorConfig.js" )
script( src="/mods/screen.js" )
script( src="/mods/formValid.js" )

// js
- var js = js || [], css = css || [], i;
- if( js ){
-   for( i = 0; js[ i ]; i++ ){
        script( src="#{js[ i ]}" )
-   }
- }

// script( src="/firebug-lite/build/firebug-lite.js" )
script( src="http://jsconsole.com/remote.js?C5E45CDD-79CD-4CBA-9333-FACB330B39CC" )

