<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
link( rel="stylesheet", type="text/css", href="/index.css" )
- if( css ){
-   for( i = 0; css[ i ]; i++ ){
        link( href="#{css[ i ]}", type="test/css", rel="stylesheet" )
-   }
- }

script( src="/core/underscore.js" )
script( src="/core/jquery.js" )
script( src="/core/backbone.js" )
script( src="config.js" )
script( src="/mods/localstorage.js" )
script( src="/mods/screen.js" )
script( src="/mods/cssTransform.js" )
script( src="/mods/touch.js" )
script( src="/mods/tplHandle.js" )
script( src="/views/noteForm.js" )
script( src="/views/noteStage.js" )
script( src="/views/noteItem.js" )
script( src="/models/user.js" )
script( src="/models/sync.js" )
script( src="/models/noteStage.js" )

script( src="/modelsTest.js" )



- var js = js || [], css = css || [], i;
- if( js ){
-   for( i = 0; js[ i ]; i++ ){
        script( src="#{js[ i ]}" )
-   }
- }

script( src="/index.js" )

