link( rel="stylesheet", type="text/css", href="/index.css" )
script( src="/core/underscore.js" )
script( src="/core/jquery.js" )
script( src="/core/backbone.js" )
script( src="/localstorage.js" )
script( src="/index.js" )

//- for register test

// script( src="/config.js" )
// script( src="/models/user.js" )
// script( src="/register.js" )

