body
    #header
    #content
        #J_tool-con.tool-con.fold
            .setting-con
            .search-con
            #J_toggle-handle.toggle-handle.toggle-down
        .notes-con
            #J_notes-stage
                ul#J_note-list.note-list
        #J_sync-tip
    #footer
        .note-update-con
