body
    #header
    #content
        #J_tool-con.tool-con.fold
            .setting-con
            .search-con
            #J_toggle-handle.toggle-handle.toggle-down
        .notes-con
            #J_notes-stage
                ul.J_note-list.note-list
                    li#J_note-item.note-item
                        .content my first note
                        .tags mmusic study
        #J_sync-tip
        #J_note-form.note-form.note-form-hide
    #footer
        .note-update-con
