body
    #header
    #content
        #J_tool-con.tool-con.fold
            .setting-con
            .search-con
            #J_toggle-handle.toggle-handle.toggle-down
        .notes-con
            #J_notes-stage
                ul.note-list
                    li#J_note-item.note-item
                        .content my first note
                        .tags mmusic study
        #J_sync-tip
        #J_note-form.note-form.note-form-hide
            p.note-content-con
                textarea( type="text", placeholder="note" )#J_note-content.note-content
            p.note-tag-con
                input( type="text", placeholder="tag" )#J_note-tag.note-tag
            p.note-btn
                input( type="button", value="添加" )#J_note-add.note-add
                input( type="button", value="取消" )#J_note-cancel.note-cancel
        #J_views_tmp
            script( type="text/html" )#J_note-item-tmp

    #footer
        .note-update-con
