body
    #header
    #content
        #J_tool-con.tool-con.unfold
            .setting-con
            .search-con
            #J_toggle-handle.toggle-handle
        .notes-con
            #J_notes-stage
                ul.note-list
                    li#J_note-item.note-item
                        .content
                        .tags
        #J_sync-tip
    #footer
        .note-update-con
