body
    a( src="#" )#J_fold fold
    br
    a( src="#" )#J_unfold unfold

    div.con
        div#J_mover
            img( src="http://img.alimama.cn/adbrand/adboard/picture/2011-10-12/127523780001111012154024.jpg" )
