body
	#header
	#content
		label 用户名
		input( type="text" )#J_username
		label 密码
		input( type="password" )#J_password
		input( type="button", value="注册" )#J_register
		input( type="button", value="登陆" )#J_login
		input( type="button", value="注销" )#J_logout

		#J_result
	#footer

