body
    #header
    #content
        p
            label username
            input( type="text" )#J_username
        p
            label note
            textarea#J_note
        p
            label id
            input( type="text" )#J_id
        p
            label tag
            input( type="text" )#J_tag
        p
            input( type="button", value="add" )#J_add
            input( type="button", value="update" )#J_update
            input( type="button", value="delete" )#J_del

        #J_result
    #footer

