body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 900px;
}
#content {
    width: 100%;
    height: 100%;
    position: relative;
}
        .tool-con {
            width: 100%;
            height: 100%;
            background: url(tool_bg.jpg);
            position: fixed;
            left: 0px;
            /* top: -100%; */
            border-radius: 10px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            z-index: 3;
        }
            .setting-con {
                height: 80%;
                width: 100%;
            }
            .search-con {
                height: 20%;
            }
            .toggle-handle {
                position: absolute;
                left: 50%;
                width: 20%;
                height: 20%;
                border-radius: 10px;
            }
            .toggle-down {
                bottom: -18%;
                background: url(tool_bg.jpg);
            }
            .toggle-up {
                bottom: -2%;
                background: white;
            }
        .notes-con {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            z-index: 1;
        }
            #J_notes-stage {
                width: 999px;
                height: 999px;
                position: absolute;
                background: yellow;
            }
                .note-list {

                }
                    .note-item {
                        width: 300px;
                        height: 400px;
                        overflow: hidden;
                        border-radius: 5px;
                        background: #9acd32;
                        font-size: 40px;
                    }
        #J_sync-tip {
            height: 10%;
            width: 80%;
            position: fixed;
            bottom: 0px;
            display: none;
            background: #333;
        }

        .note-form {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 2;
        }
        .note-form-show {
            
            -webkit-animation-name: note-form-show;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count: 1;
            -webkit-animation-timing-function: linear;
            -webkit-animation-delay:0s;
        }
        .note-form-hide {
            
            -webkit-transform: scale(0);

            -webkit-animation-name: note-form-hide;
            -webkit-animation-duration: 0.2s;
            -webkit-animation-iteration-count: 1;
            -webkit-animation-timing-function: linear;
            -webkit-animation-delay:0s;
        }
            .note-content-con {
                width: 100%;
                height: 65%;
                margin-bottom: 5%;
            }
                .note-content {
                    width: 90%;
                    height: 100%;
                    margin: 0 5% 0 5%;
                    border-radius: 20px;
                }
            .note-tag-con {
                width: 100%;
                height: 10%;
            }
                .note-tag {
                    width: 90%;
                    height: 100%;
                    margin: 0 5% 0 5%;
                    border-radius: 20px;
                }
            .note-btn {
                width: 100%;
                height: 20%;
            }
                .note-btn input {
                    width: 40%;
                    height: 80%;
                    border-radius: 20px;
                }

.unfold{
    top: 0px;
    /*让整个行使用x-轴旋转、7秒中的动画、无限次播放以及线性 */

    -webkit-animation-name: tool-con-fold;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay:0s;
}
.fold {
    top: -100%;
    /*让整个行使用x-轴旋转、7秒中的动画、无限次播放以及线性 */

    -webkit-animation-name: tool-con-unfold;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay:0s;
}
    /* 定义要调用的动画 */
@-webkit-keyframes tool-con-fold {
    /*0% {-webkit-transform: translate(0, -100%);} */
    100% { -webkit-transform: translate(0, 0); }
}

@-webkit-keyframes tool-con-unfold {
    /*0% {-webkit-transform: translate(0, 100%);} */
    100% { -webkit-transform: translate(0, 0px); }
}

@-webkit-keyframes note-form-show {
    0% { -webkit-transform: scale(0);}
    100%{ -webkit-transform: scale(1); }
}

@-webkit-keyframes note-form-hide {
    0% { -webkit-transform: scale(1);}
    100%{ -webkit-transform: scale(0); }
}