body
    div#J_add-con
        label 添加笔记
        input( type="text", placeholder="输入笔记内容")#J_ipt-add
        input( type="button", value="添加" )#J_btn-add
    div#J_note-list-con
        ul#J_note-list

